body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.home-page {
    background-color: #080838;
    display: flex;
    height: 100vh;
}

.user-info {
    text-align: center;
    margin-bottom: 125px;
}

.user-info h2,
.user-info h3 {
    font-size: 1.3rem;
    margin: 5px;
}

.left-side {
    width: 205px;
    background-color: #080838;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    flex-shrink: 0;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.nav-btn, .nav-btn-active {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    margin-bottom: 20px;
    font-weight: bold;
    transition: color 0.3s;
    text-align: center;
}

.nav-btn-active{
    color: #F9A825;
}

.nav-btn:hover {
    color: #F9A825;
}

.separator {
    width: 2px;
    background: white;
    height: 100%;
    left: 50%;
}

.logout-btn {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    text-align: center;
    margin-top: auto;
}

.logout-btn:hover {
    color: #F9A825;
}

/* Дясна част*/
.edit-profile-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 350px;
}

.edit-profile-form {
    background-color: transparent;
    text-align: center;
}

.forms-wrapper {
    background-color: transparent;
    border: 2px solid white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.edit-profile-form input,
.new-album-form textarea,
.edit-profile-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

.edit-profile-btn {
    background-color: #F9A825;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-profile-btn:hover {
    background-color: #F57F17;
}

.text-warning {
    color: #e71717;
}

.text-active {
    color: lawngreen !important;
}

.text-inactive {
    color: red !important;
}




