<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music App</title>
    <link rel="stylesheet" href="/css/edit-profile.css">
</head>
<body class="home-page">


<div class="left-side">
    <!-- Информация за потребителя -->
    <div class="user-info">
        <h3>Welcome,</h3>
        <h3 th:if="${user.firstName != null or user.lastName != null}"
            th:text="${(user.firstName != null ? user.firstName : '') + (user.lastName != null ? ' ' + user.lastName : '')}">
        </h3>
        <h3 th:text="${#strings.capitalize(#strings.toLowerCase(user.role.name()))}">Fan</h3>
    </div>

    <!-- Бутоните под информацията -->
    <div class="nav-bar">
        <a th:href="@{/home}" class="nav-btn">All Albums</a>
        <a th:if="${user}" th:href="@{/albums/new}" class="nav-btn">Add Album</a>
        <a th:href="@{/albums/added}" class="nav-btn">Uploaded Albums</a>
        <a th:href="@{/albums/favourites}" class="nav-btn">Favourite Albums</a>
        <a th:href="@{/reviews/my-reviews}" class="nav-btn">My Reviews</a>
        <a th:href="@{'/users/' + ${user.id} + '/profile'}" class="nav-btn-active">Edit Profile</a>
        <a href="/users" class="nav-btn">Users</a>
    </div>
    <a href="/logout" class="nav-btn logout-btn">Logout</a>
</div>
<div class="separator"></div>

<!-- Дясната част -->
<div class="edit-profile-container">

    <form class="edit-profile-form"
          th:action="@{'/users/' + ${user.id} + '/profile'}"
          th:method="PUT"
          th:object="${editProfileRequest}">

        <h2>Edit Profile</h2>

        <p><strong>Name: </strong><span th:if="${user.firstName != null or user.lastName != null}"
                                        th:text="${(user.firstName != null ? user.firstName : '') + (user.lastName != null ? ' ' + user.lastName : '')}"></span>
        </p>
        <p><strong>Email: </strong> <span th:text="${user.email}"></span></p>
        <p><strong>Role: </strong> <span
                th:text="${#strings.capitalize(#strings.toLowerCase(user.role.name()))}">Fan</span></p>
        <p><strong>User id: </strong> <span th:text="${user.id}"></span></p>

        <input type="text" placeholder="First Name" th:field="*{firstName}">
        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-warning"></p>

        <input type="text" placeholder="Last Name" th:field="*{lastName}">
        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-warning"></p>

        <input type="email" placeholder="Email" th:field="*{email}">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-warning"></p>

        <button type="submit" class="edit-profile-btn">Save Changes</button>
    </form>
</div>

</body>
</html>
