<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music App</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body class="home-page">

<div class="left-side">
    <!-- Информация за потребителя -->
    <div class="user-info">
        <h3>Welcome,</h3>
        <h3 th:if="${user.firstName != null or user.lastName != null}"
            th:text="${(user.firstName != null ? user.firstName : '') + (user.lastName != null ? ' ' + user.lastName : '')}">
        </h3>
        <h3 th:text="${#strings.capitalize(#strings.toLowerCase(user.role.name()))}">Fan</h3>
    </div>

    <!-- Бутоните под информацията -->
    <div class="nav-bar">
        <a th:href="@{/home}" class="nav-btn-active">All Albums</a>
        <a th:if="${user}" th:href="@{/albums/new}" class="nav-btn">Add Album</a>
        <a th:href="@{/albums/added}" class="nav-btn">Uploaded Albums</a>
        <a href="/my-favorites" class="nav-btn">Favorite Albums</a>
        <a href="/my-reviews" class="nav-btn">My Reviews</a>
        <a th:href="@{'/users/' + ${user.id} + '/profile'}" class="nav-btn">Edit Profile</a>
        <a href="/users" class="nav-btn">Users</a>
    </div>
    <a href="/logout" class="nav-btn logout-btn">Logout</a>
</div>
<div class="separator"></div>

<!-- Дясната част -->
<div class="album-container">
    <div class="album-row">
        <div class="album-card">

            <div class="album-icons">
                <form method="post" action="">
                    <button type="submit" class="icon-btn">
                        <img th:src="@{/images/star-regular.svg}" alt="Star Icon" width="20" height="20">
                    </button>
                </form>

                <form method="post" action="">
                    <button type="submit" class="icon-btn">
                        <img th:src="@{/images/heart-regular.svg}" alt="Heart Icon" width="20" height="20">
                    </button>
                </form>
            </div>

            <img src="album1.jpg" alt="Album 1">
            <h3>Album Name 1</h3>
            <p>Rating: 4.5</p>

            <div class="button-group">
                <button class="album-btn">Add Review</button>
            </div>
        </div>


    </div>
</div>
</body>
</html>
