<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music App</title>
    <link rel="stylesheet" href="/css/uploaded-albums.css">
</head>
<body class="home-page">

<div class="left-side">
    <!-- Информация за потребителя -->
    <div class="user-info">
        <h3>Welcome,</h3>
        <h3 th:if="${user.firstName != null or user.lastName != null}"
            th:text="${(user.firstName != null ? user.firstName : '') + (user.lastName != null ? ' ' + user.lastName : '')}">
        </h3>
        <h3 th:text="${#strings.capitalize(#strings.toLowerCase(user.role.name()))}">Fan</h3>
    </div>

    <!-- Бутоните под информацията -->
    <div class="nav-bar">
        <a th:href="@{/home}" class="nav-btn">All Albums</a>
        <a th:if="${user}" th:href="@{/albums/new}" class="nav-btn">Add Album</a>
        <a th:href="@{/albums/added}" class="nav-btn-active">Uploaded Albums</a>
        <a th:href="@{/albums/favourites}" class="nav-btn">Favourite Albums</a>
        <a th:href="@{/reviews/my-reviews}" class="nav-btn">My Reviews</a>
        <a th:href="@{/reviews/reported}" class="nav-btn">Reported Reviews</a>
        <a th:href="@{'/users/' + ${user.id} + '/profile'}" class="nav-btn">Edit Profile</a>
        <a th:href="@{/users}" class="nav-btn">Users</a>
    </div>
    <a href="/logout" class="nav-btn logout-btn">Logout</a>
</div>
<div class="separator"></div>

<!-- Дясната част -->
<div class="album-table-container">
    <table class="album-table">
        <thead>
        <tr>
            <th>Cover</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Genre </th>
            <th>Release Date</th>
            <th>Status</th>
            <th>Change Status</th>
            <th>Edit Album</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="album : ${uploadedAlbums}">
            <td>
                <img th:src="${album.albumCover != null && album.albumCover != '' ? album.albumCover : '/images/no-image-available.svg'}" width="35px" height="35px">
            </td>
            <td th:text="${album.artistName}">Artist Name</td>
            <td> <a th:text="${album.albumName}" th:href="@{'/albums/' + ${album.id} + '/view'}">Album Name</a></td>
            <td th:text="${#strings.capitalize(#strings.toLowerCase(album.genre))}">Genre</td>
            <td th:text="${album.releaseDate}">Release Date</td>
            <td th:text="${#strings.capitalize(#strings.toLowerCase(album.albumStatus))}"
                th:classappend="${album.albumStatus == T(app.album.model.AlbumStatus).VISIBLE ? 'text-active' : 'text-inactive'}">Status</td>
            <td>
                <form th:method="PUT" th:action="@{'/albums/' + ${album.id} + '/status'}">
                    <button type="submit" class="status-toggle-btn"
                            th:text="${album.albumStatus == T(app.album.model.AlbumStatus).VISIBLE ? 'Hide' : 'Show'}">
                    </button>
                </form>
            </td>
            <td>
                <form th:method="GET" th:action="@{'/albums/' + ${album.id} + '/edit'}">
                    <button type="submit" class="status-toggle-btn">Edit</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>