<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music App</title>
    <link rel="stylesheet" href="/css/uploaded-albums.css">
</head>
<body class="home-page">

<div class="left-side">
    <!-- Информация за потребителя -->
    <div class="user-info">
        <h3>Welcome,</h3>
        <h3 th:if="${user.firstName != null or user.lastName != null}"
            th:text="${(user.firstName != null ? user.firstName : '') + (user.lastName != null ? ' ' + user.lastName : '')}">
        </h3>
        <h3 th:text="${#strings.capitalize(#strings.toLowerCase(user.role.name()))}">Fan</h3>
    </div>

    <!-- Бутоните под информацията -->
    <div class="nav-bar">
        <a th:href="@{/home}" class="nav-btn">All Albums</a>
        <a th:href="@{/albums/new}" class="nav-btn" th:if="${user.role.name() == 'ADMIN' || user.role.name() == 'ARTIST'}" >Add Album</a>
        <a th:href="@{/albums/personal}" class="nav-btn" th:if="${user.role.name() == 'ADMIN' || user.role.name() == 'ARTIST'}" >Uploaded Albums</a>
        <a th:href="@{/favourites}" class="nav-btn">Favourite Albums</a>
        <a th:href="@{/reviews/my-reviews}" class="nav-btn">My Reviews</a>
        <a th:href="@{/reviews/reported}" class="nav-btn" th:if="${user.role.name() == 'ADMIN'}" >Reported Reviews</a>
        <a th:href="@{'/users/' + ${user.id} + '/profile'}" class="nav-btn">Profile</a>
        <a th:href="@{/users}" class="nav-btn-active" th:if="${user.role.name() == 'ADMIN'}" >Users</a>
    </div>
    <a href="/logout" class="nav-btn logout-btn">Logout</a>
</div>
<div class="separator"></div>

<!-- Дясната част -->
<div class="album-table-container">
    <table class="album-table">
        <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email </th>
            <th>Registered On</th>
            <th>Last Modified</th>
            <th>Role</th>
            <th>Change Role</th>
            <th>Status</th>
            <th>Change Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">

            <td th:text="${user.username}">Username</td>
            <td th:text="${user.firstName}">First Name</td>
            <td th:text="${user.lastName}">Last Name</td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${#temporals.format(user.createdOn, 'dd MMM yyyy')}">Registered On</td>
            <td th:text="${#temporals.format(user.updatedOn, 'dd MMM yyyy')}">Last Modified</td>
            <td th:text="${#strings.capitalize(#strings.toLowerCase(user.role))}">Role</td>

            <td>
                <form th:method="PUT" th:action="@{'/users/' + ${user.id} + '/role'}">
                    <label><select name="role" class="select-role">
                        <option th:each="role : ${T(app.user.model.UserRole).values()}"
                                th:value="${role}"
                                th:text="${#strings.capitalize(#strings.toLowerCase(role.name()))}"
                                th:selected="${role == user.role}">
                        </option>
                    </select></label>
                    <button type="submit" class="status-toggle-btn">Change</button>
                </form>
            </td>

            <td th:text="${user.isActive ? 'Active' : 'Inactive'}"
                th:classappend="${user.isActive ? 'text-active' : 'text-inactive'}">
            </td>

            <td>
                <form th:method="PUT" th:action="@{'/users/' + ${user.id} + '/status'}">
                    <button type="submit" class="status-toggle-btn"
                            th:text="${user.isActive ? 'Deactivate' : 'Activate'}">
                    </button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>